# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Local configuration
.env

# Flask instance folder
instance/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/

# macOS
.DS_Store