<!-- Inherit common application layout -->
{% extends "base.html" %}

{% block title %}
Edit Locker Cell | CGI Smart Locker
{% endblock %}

{% block content %}

<!-- Display locker cell being edited -->
<h2 class="mb-4">Edit Cell {{ cell.cell_number }}</h2>

<div class="card shadow-sm border-0">

    <div class="card-body">

        <form method="POST"
            data-confirm="Have you selected correct Laptop Model and Locker Cell Status">

            <!-- CSRF protection token -->
            {{ form.hidden_tag() }}

             <!-- Select laptop assigned to locker cell -->
            <div class="mb-3">
                {{ form.laptop_id.label(class="form-label") }}
                {{ form.laptop_id(class="form-select") }}
            </div>

            <!-- Select locker cell status -->
            <div class="mb-3">
                {{ form.status.label(class="form-label") }}
                {{ form.status(class="form-select") }}
            </div>

            <!-- Save changes -->
            <button type="submit" class="btn btn-primary">
                Save
            </button>

            <!-- Return to locker management page -->
            <a href="{{ url_for('admin.locker') }}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}